<div style="margin-top: 3%;">
<h1><%= current_user.name %></h1>
<p><%= current_user.email %></p>
<h3>Home: </h3>
<p><%= current_user.address %></p>
<p><%= current_user.city %>, <%= current_user.state %></p>
<p><%= current_user.zip %></p>

<%= link_to "Edit My Profile or Password", profile_edit_path %>
<div class="addresses">
  <% @addresses.each do |address| %>
  <section id="address-id-<%= address.id %>">
    <h3><%= address.title %>: </h3>
    <ul>
      <li><%= address.street_address %>, <%= address.city %> <%= address.state %> <%= address.zip %></li>
    </ul>
    <%= link_to "Delete This Address", address_path(address), method: :delete %>
  </section>
  <% end %>
</div>
<%= link_to "Add Another Address", new_user_address_path(current_user) %>

<% if @user_orders.any? %>
  <p><%= link_to "My Orders", user_orders_path %></p>
<% end %>
</div>
